@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

.body{
    position: relative; 
    width: 100%;
    min-height: 100vh;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-image: url('https://i.pinimg.com/originals/da/07/92/da079257bf2f6c285b68c1562b971fd8.gif');
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    
    @keyframes Show {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    .container {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 100vh;
        width: 100%;
        transition: all 1.8s;
    }
    
    .container.active {
        transform: translateX(-50%);
    }
    
    .container .box {
        min-width: 50%;
    }
    
    .box {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .box .content {
        width: 360px;
        text-align: center;
    }
    
    .box .content .title {
        color: #fff;
        font-size: 60px;
        margin-bottom: 15px;
    }
    
    .box .content .details {
        display: inline-block;
        color: rgb(189, 188, 185);
        font-size: 17px;
        margin-bottom: 20px;
    }
    
    #form .form_input {
        position: relative;
        border-bottom: 2.5px solid #ffffff;
        border-radius: 2px;
        margin: 30px 0;
        height: 45px;
        width: 360px;
        background: transparent;
    }
    
    #form .form_input input {
        width: 100%;
        border: none;
        background-color: transparent;
        outline: none;
        height: 100%;
        padding: 0 5px;
        color: #fff;
        font-size: 18px;
    }
    
    #form .form_input label {
        position: absolute;
        left: 5px;
        top: 10px;
        color: rgb(219, 216, 208);
        transition: all 0.35s;
        pointer-events: none;
        font-size: 17px;
    }
    
    #form .form_input input:focus ~ label,
    #form .form_input input:valid ~ label {
        top: -7px;
        font-size: 13px;
    }
    
    .btn {
        text-align: center;
        width: 190px;
        border: none;
        outline: none;
        padding: 10px 34px;
        border-radius: 25px;
        font-weight: 500;
        font-size: 18px;
        margin-top: 15px;
        cursor: pointer;
        background-color: #ed2c01;
        color: #fff;
        overflow: hidden;
    }
    
    .btn.layer {
        background-color: rgba(189, 188, 185, 0.259);
        border: 2px solid #fff;
        color: #c9c5c5;
        transition: all 0.35s;
        box-shadow: 5px 3px 9px rgb(189 188 185 / 52%), -5px 4px 16px rgb(203 202 200 / 48%);
        transition: all 0.3s;
    }
    
    .btn.log::after {
        transition: all 0.3s;
    }
    
    .btn.out::before {
        transition: all 0.3s;
    }
    
    .btn.log:hover::after {
        content: "\f061";
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        animation: Show 0.25s linear;
        overflow: visible;
    }
    
    .btn.out:hover::before {
        content: "\f060";
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        animation: Show 0.25s linear;
        overflow: visible;
    }
    
    .btn.layer:hover {
        background-color: rgb(189, 188, 185, 0.5555);
        color: #c9c5c5;
    }
    
    .btn.submit {
        /* transition: all 0.3s; */
    }
    
    .btn.submit:hover {
        outline: 2px solid #fff;
        outline-offset: 3px;
    }
    
    .content {
        position: relative;
    }
    
    .nav {
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        width: 100%;
        transition: 1s;
    }
    
    .container .navigation_signIn {
        opacity: 1;
        z-index: 5;
    }
    
    .container .navigation_signUp {
        z-index: 2;
        opacity: 0;
    }
    
    .container.active .box .content .navigation_signIn {
        opacity: 0;
        z-index: 1;
    }
    
    .container.active .box .content .navigation_signUp {
        opacity: 1;
        z-index: 2;
    }
    
    .nav p {
        color: #e4e0e0;
        font-size: 17px;
    }
}